flask
pandas
seaborn
matplotlib
scikit-learn
xgboost
yellowbrick
mlxtend
wtforms
streamlit
Instructions To run flask application -> python run.py
Instructions To run the Extraploratory data Analysis -> streamlit run eda.py
